[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "cosemserver"]
	path = cosemserver
	url = git@github.com:aarkhang/cosemserver.git
[submodule "cosemclient"]
	path = cosemclient
	url = git@github.com:aarkhang/cosemclient.git
[submodule "cpp11-on-multicore"]
	path = cpp11-on-multicore
	url = https://github.com/preshing/cpp11-on-multicore.git
